// colors
$color-1: #1ea4ce;
$color-2: #ffffff;
$color-3: #191919;
$color-4: #525252;
$color-5: #a8a8a8;
$color-6: #f2f0fd;
$color-7: #147594;
$color-8: #e5e5e5;
$color-9: #697488;
$color-10: #fefefe;
$color-11: #f3f0fe;
$line-color: $color-1;
$text-color-1: $color-1;
$text-color-2: $color-3;
$background-color: $color-2;
$label-color: $color-4;
$label-extra-color: $color-5;
$type-back-color: $color-6;
$type-text-color: $color-1;
$type-selected-back-color: $color-1;
$type-selected-text-color: $color-6;
$navbar-background-color: $color-1;
$hamburger-color: $color-6;
$cart-menu-background-color: $color-7;
$cart-menu-text-color: $color-2;
$page-bacgrpound-color: $color-8;
$filter-title-color: $color-9;
$product-img-background-image: $color-10;
$product-img-border-image: $color-11;
$product-title-color: $color-3;
$product-add-button-bg-color: $color-1;
$product-add-button-color: $color-2;
// sizes
$max-width: 1232px;
$menu-height: 76.64px;
$panel-width: 296px;
$left-panel-width: $panel-width;
$right-panel-width: $panel-width;
$center-panel-width: 608px;
