$color-1: #1ea4ce;
$color-2: #fff;
$color-3: #191919;
$color-4: #525252;
$color-5: #a8a8a8;
$color-6: #f2f0fd;
$line-color: $color-1;
$text-color-1: $color-1;
$text-color-2: $color-3;
$background-color: $color-2;
$label-color: $color-4;
$label-extra-color: $color-5;
$type-back-color: $color-6;
$type-text-color: $color-1;
$type-selected-back-color: $color-1;
$type-selected-text-color: $color-6;
