@import "../../sass/variables.scss";
.navbar {
  width: 100%;
  background-color: $navbar-background-color;
  > .navbar-content {
    > .left {
      float: left;
    }
    > .right {
      float: right;
    }
    width: 100%;
    max-width: $max-width;
    height: $menu-height;
    margin: auto;
    position: relative;
    > .logo {
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translate(50%, 50%);
      > img {
        width: 100%;
        width: 142px;
        height: 41px;
        user-select: none;
      }
    }
  }
}
