@import "../../sass/variables.scss";
.page-layout {
  min-height: calc(100vh - 194px);
  max-width: $max-width;
  width: 100%;
  margin: auto;
  margin-top: 38.36px;
  display: block;
  > .page-left {
    width: $left-panel-width;
    float: left;
  }
  > .page-center {
    width: $center-panel-width;
    margin: 0 16px;
    box-shadow: 0px 4px 24px rgba(93, 62, 188, 0.04);
    border-radius: 2px;
    float: left;
  }
  > .page-right {
    width: $right-panel-width;
    float: right;
  }
}
